<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.kavya.utilities.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.kavya.testcases.TCD04_DeleteUsers"/>
      <class name="com.kavya.testcases.TCD03_CreateUser"/>
      <class name="com.kavya.testcases.TCD02_GetEmployeeRecord"/>
      <class name="com.kavya.base.TestBase"/>
      <class name="com.kavya.testcases.TCD01_Get_Employees"/>
      <class name="com.kavya.testcases.TCD04_UpdateUser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
